body {
	font-family: 'Lato', sans-serif;
	background: black;
	background-image: url('../images/castle.jpg');
  	background-repeat: no-repeat;
  	background-size: 100%;
  	background-attachment: fixed;
  	background-position: 0% 100%;
  	display: flex;
  	flex-direction: column;
   	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
	overflow-x: clip;
}

.panel {
	border-radius: 0;
	background-color: rgba(255,255,255,0.8);
	-webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 60%, 0 100%, 0 0, 0 0);
	clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 60%, 0 100%, 0 0, 0 0);
}

.panel-heading {
	background-color: tan !important;
	background: none;
	color: white !important;
}

.progress {
	margin-bottom: 2px;
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
	border-radius: 0;
	background-color: lightgray;
}

* {
	box-sizing: border-box;
	transition: 0.3s;
}

.h1 {
	font-family: 'Tangerine', cursive;
	font-size: 100px;
	color: tan;
	line-height: 1;
}

.h1::first-letter {
	/*background: rgba(255,0,0,0.6);*/
}

.greyScale {
	filter: grayscale(0.8);
	transition: 0.5s;
}

.skewClock {
	transform: skewX(-5deg);
	transition: 2s;
}

.skewCount {
	transform: skewX(5deg);
	transition: 2s;
}

img {
	-webkit-clip-path: polygon(50% 0, 100% 0, 100% 91%, 50% 50%, 0 91%, 0 0, 0 0);
	clip-path: polygon(50% 0, 100% 0, 100% 91%, 50% 50%, 0 91%, 0 0, 0 0);
}

.defeated {
	filter: grayscale(1);
}

.greyScale:hover {
	filter: grayscale(0);
	transition: 0.5s;
	-webkit-transition: all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

.headerBlock {
	background-image: linear-gradient(to right, transparent, rgba(0,0,0,0.2), transparent);
	border-bottom: solid 1px tan;
	padding-top: 2px;
	margin-bottom: 6px;
}
